.pin-label {
  @include svg-icon-w-fallback-no-element-width('../Images/Icons/icon_map_pin_your_location.svg', '', auto, 21px);
  background-position: 0;
  padding-left: 17px;
}

.commute-results-wrapper {
  position: relative;
  .inner {
    @include absolute($left: 2px);
    width: 100%;
    z-index: 3;

    @include breakpoint(medium only){
      @include absolute($left: 2px);
    }

    @include breakpoint(small only){
      @include absolute($left: 2px);
    }

    button {
      width: 100%;
      font-size: 15px;
      text-transform: capitalize;
      color: #000;
      text-align: left;
    }

    .result-row {
      position: relative;
      padding: 12px 32px;
      border: solid 1px #e1e1e1;
      border-top: none;
      background-color: #f3f4f5;

      .map-icon {
        @include absolute($top: calc(50% - 13px), $left: 10px);
        @include svg-icon-w-fallback('../Images/Icons/icon_black_map_marker.svg', '', 13px, 20px);
        height: 30px;
      }
    }
  }
}
