.map-view-wrapper {
  background-size: 140px 140px, 140px 140px, 20px 20px, 20px 20px;
  background: linear-gradient(rgba(0, 0, 0, .3) 1px, transparent 1px),
  linear-gradient(90deg, rgba(0, 0, 0, .3) 1px, transparent 1px),
  linear-gradient(rgba(0, 0, 0, .2) 1px, transparent 1px),
  linear-gradient(90deg, rgba(0, 0, 0, .2) 1px, transparent 1px) -1px -1px, -1px -1px, -1px -1px, -1px -1px;

  #map {
    position: fixed;
    height: 100%;
    font-family: 'Poppins', sans-serif;
  }

  .map-view-container {
    width: 100%;
    height: 100%;
    z-index: 0;
    &:focus {
      box-sizing: border-box;
      border: 5px solid #0000ff;
    }
    &.inactive {
      pointer-events: none;
      cursor: auto;

      .leaflet-marker-icon {
        display: none;
      }
    }

    @include breakpoint(small only) {
      .ol-overlay-container {
        position: static !important;
      }
    }
  }
  .screen-reader-area-nav {
    position: absolute;
    left: -9999px;
  }
}

.filtered-areas-container {
  @include fixed($left: 180px, $bottom: 20px);
  width: 240px;
  height: 40px;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
  box-shadow: 1px 1px 0 0 rgba(108, 108, 108, 0.5);

  @include breakpoint(medium only) {
    left: 160px;
  }

  @include breakpoint(small only) {
    left: 20px;
  }

  p {
    float: left;
    margin-top: 8px;
    width: 50%;
  }

  .areas {
    margin-top: 9px;
    width: calc(50% - 2px);
    border-right: solid 2px #e1e1e1;
  }
}

.leaflet-control-attribution {
  &.leaflet-control {
    margin-right: 95px;

    @include breakpoint(medium only) {
      margin-right: 67px;
    }

    @include breakpoint(small only) {
      margin-right: 0;
    }
  }
}
